<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="CSS/style.css">

    <title>{{title}}</title>
  </head>
  <body>
    <h2>{{>header}}</h2>
    <div class="team-item">
      <h2> Name Is :{{name}} </h2>
      <p> City Is :{{city}} </p>
      <p> Age Is :{{age}} </p>
    </div>
  </body>
</html>